{{define "chat-script"}}
<script>
    new Vue({
        el: '#app',

        data: {
            ws: null,
            newMsg: '',
            chatContent: '',
            email: null,
            username: null,
            joined: false
        },

        created: function() {
            var self = this;
            this.ws = new WebSocket('wss://' + window.location.host + '/ws');
            this.ws.addEventListener('message', function(e) {
                var msg = JSON.parse(e.data);
                self.chatContent += '<div class="chip">'
                    + '<img src="' + self.gravatarURL(msg.email) + '">' // Avatar
                    + msg.username
                    + '</div>'
                    + emojione.toImage(msg.message) + '<br/>'; // Parse emojis

                var element = document.getElementById('chat-messages');
                element.scrollTop = element.scrollHeight; // Auto scroll to the bottom
            });
        },

        methods: {
            send: function () {
                if (this.newMsg != '') {
                    this.ws.send(
                        JSON.stringify({
                                message: $('<p>').html(this.newMsg).text() // Strip out html
                            }
                        ));
                    this.newMsg = ''; // Reset newMsg
                }
            },
            gravatarURL: function(email) {
                return 'https://www.gravatar.com/avatar/' + CryptoJS.MD5(email);
            }
        }
    });

    var video = document.querySelector("#videoElement");
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

    if (navigator.getUserMedia) {
        navigator.getUserMedia({video : true}, handleVideo, videoError);
    }

    function handleVideo(stream) {
        video.src = window.URL.createObjectURL(stream);
    }

    function videoError() {

    }

    var ctx = document.getElementById("myChart").getContext('2d');
    var ctx2 = document.getElementById("myChart2").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["5m", "4m", "3m", "2m", "1m", "0m"],
            datasets: [{
                label: 'Heart Rate BPM',
                data: [85, 104, 96, 110, 92, 79],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });

    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: ["3m", "2m", "1m", "30s", "15s", "0s"],
            datasets: [{
                label: 'Blood Pressure',
                data: [105, 92, 88, 90, 93, 98],
                backgroundColor: [
                    'rgba(99, 255, 132, 0.2)',
                    'rgba(162, 54, 235, 0.2)',
                    'rgba(206, 255, 86, 0.2)',
                    'rgba(192, 75, 192, 0.2)',
                    'rgba(102, 153, 255, 0.2)',
                    'rgba(159, 253, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{{end}}