<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header"}}
<main>
    <div class="container" style="margin-top: 25px">
        <div class="row">
            <div class="col m12">
                <h4 class="center-align">Login</h4>
                <div class="row">
                    <form method="post" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" name="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pass" type="password" name="password" class="validate" required>
                                <label for="pass">Password</label>
                            </div>
                            <div class="col m12">
                                <p class="right-align">
                                    <button class="btn btn-large waves-effect blue lighten-2" type="submit" name="action">
                                        Login
                                    </button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "footer"}}
{{template "scripts"}}
</body>
</html>